NEXT_PUBLIC_UI_DEV_MODE=false
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
JURISBOT_RATE_LIMIT_MAX=
JURISBOT_RATE_LIMIT_WINDOW_MS=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
OPENAI_API_KEY=
OPENAI_MODEL=